.header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: black;
    font-family: "Open Sans Condensed";

    .logo-container {
        height: 120%;
        width: 150px;
        padding: 10px;
        padding-left: 30;
      }

      .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
    
        .option {
          padding: 10px 15px;
          cursor: pointer;
        }
      
  
}
}
