.header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: #2f2f2f;
    font-family: "Open Sans Condensed";
    font-size: 24px;

    .logo-container {
        height: 100%;
        width: 200px;
        // padding: 10px;
        padding-left: 20px;
      }

      .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 20px;
    
        .option {
          padding: 10px 15px;
          cursor: pointer;
        }
      
  
}
}
