footer:Link {
    color: black;
}
.footer {
    // display: flex;
    border-spacing: 0ch;
    justify-content: center;
    text-align: center;

    .legal {        
        margin: 5px;
        font-size: 20px;
        color: black;

        .terms-button {
        display: inline-block;
        // margin-right: 10px;
        }

        .divider {
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
        }

    .privacy-button {
        display: inline-block;
       }
    }

    .rights {
        display: inline-block;
        margin-bottom: 10px;
    }

}